<div class="catalog-grid">
  @for(pesce of this.pesci; track pesce){
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>{{pesce.Nome}}</mat-card-title>
      <mat-card-subtitle>Acqua: {{pesce.Acqua}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{pesce.Immagine}}" alt="foto del pesce">
    <mat-card-content>
      <p>
        <li>Colori: {{pesce.Colore}}</li>
        <li>Lunghezza: {{pesce.Lunghezza}} cm</li>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button class="material-icons" (click)="aggiungiAlCarrello(pesce.Id!)">shopping_cart</button>
    </mat-card-actions>
  </mat-card>
  }
</div>
