<div class="centred home animate__animated animate__bounceInUp">
<div class="text">
  Scopri un universo di pesci rari ed esotici, selezionati per i veri appassionati del collezionismo acquatico. Dal fascino dei colori tropicali alle specie più pregiate e introvabili, il nostro e-commerce offre un’esperienza unica per trasformare il tuo acquario in un capolavoro vivente. Qualità garantita, consegna sicura e supporto dedicato per ogni tua esigenza!
</div>  <br>
  <a class="buttonPadding" mat-flat-button routerLink="catalogo" routerLinkActive="router-link-active">Vai al Catalogo</a>
</div>
